.lead{
    font-size: 5rem;
}
.header{
    background-color: aquamarine;
}
.container-fluid{
    background-color: aquamarine;
    padding: 15px;
    margin-top: 0%;
}

.navbar{
    padding: 0%;
}


.imgNoticias{
    width: 90%;
}
.fotosGatos{
    margin-bottom: 30px;
}

.videoGatos{
    margin-bottom: 30px;
}

@media (max-width:380px){
    .noticiasMishis{
        flex-direction: column;
        align-items: center;
    }
}


